#thisisaMobileAppScrewWidescreen {

	--tileAccentColor10:rgba(51,192,255,0.1);
	--tileAccentColor20:rgba(51,192,255,0.2);
	--tileAccentColor35:rgba(51,192,255,0.35);
	--tileAccentColor100:#33C0FF;
	--invisibleColor:rgba(0,0,0,0);
	--textColor:#ebebeb;
	--backgroundColor:#13171f;
	--fontHeader:	Roboto, Helvetica, sans-serif;
	--fontTiles: Roboto, Helvetica, sans-serif;

	background-color:var(--backgroundColor);
	min-height:98vh;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 938px;
	transition: 0.3s;
	width: 100%;
	@media(max-width: 932px) and (min-width: 658px) {
		max-width: 626px;
	}
	@media(max-width: 657px) {
		max-width: 599px;
	}
}