<header onload="startTime()">
	<time>{{ time | date: 'hh:mm:ss' }} {{ time | date: 'EEEE' | uppercase }} 240NT</time>
	<img src="../../assets/images/bastionWhite.png" alt="Circle with five circles around it connected by a line adorned with laurels.">
	<section>
		<h1>Bastion Dashboard</h1>
		<p>Hello{{ this.idZeroWarning }} {{this.characacterRank}} {{this.characterName}}</p>
	</section>
	<aside *ngIf="!this.idZeroWarning">
		<div class="mailIcon">
		&#x2709;
			<div class="notificationFloat">
				<div class="notificationDot"><span class="notificationCounter">7</span></div>
			</div>
		</div>
	</aside>
	<hr>
</header>