<header onload="startTime()">
	<time>07:07 07-07-240NT</time>
	<img src="../../assets/images/bastionWhite.png" alt="Circle with five circles around it connected by a line adorned with laurels.">
	<section>
		<h1>Bastion Dashboard</h1>
		<p>Hello {{this.characacterRank}} {{this.characterName}}</p>
	</section>
	<aside>
		<div class="mailIcon">
		&#x2709;
			<div class="notificationFloat">
				<div class="notificationDot"><span class="notificationCounter">7</span></div>
			</div>
		</div>
	</aside>
	<hr>
</header>