<header onload="startTime()">
	<time>{{ time | date: 'EE' | uppercase }} {{ this.icDate | uppercase }} - {{ time | date: 'HH:mm' }} ETC</time>
	<img src="../../assets/images/bastionRed.png" alt="Circle with five circles around it connected by a line adorned with laurels.">
	<section>
		<h1>Bastion Dashboard</h1>
		<p>Hello{{ this.idZeroWarning }} {{this.characacterRank}} {{this.characterName}}</p>
	</section>
	<aside *ngIf="!this.idZeroWarning">
		<a href="http://mail.eosfrontier.space/" >
			<div class="mailIcon">
				&#x2709;
				<div class="notificationFloat">
					<div class="notificationDot" *ngIf="this.newMessages"><span class="notificationCounter">{{ this.amountUnreadMessages }}</span></div>
					<div class="notificationError" *ngIf="!this.messageServiceAvailable"><span class="notificationCounter">&#x274C;</span></div>
				</div>
			</div>
		</a>
	</aside>
	<hr>
</header>