main {
  font-family: var(--fontTiles);
}
a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  white-space: pre-line;
}
img {
  max-width: 80%;
  padding: 10%;
  filter: var(--imgFactionFilter);
}
figure {
  margin: 0;
  text-align: center;
  color: var(--textColor);
}
figcaption {
  color: var(--headerColor);
  font-family: var(--fontTiles);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px;
  text-align: left;
  font-size: var(--fontFactionSize);
  @media only screen and (min-width: 658px) {
    font-size: var(--fontFactionSizeBig);
  }
}

#beta {
  position: absolute;
  color: var(--headerColor);
  margin: 0;
  padding: 6px;
  opacity: 0.5;
  font-size: 0.8em;
}
aside {
  @media only screen and (min-width: 658px) {
    display: block;
  }
  display: none;
  font-family: var(--fontTiles);
  position: absolute;
  padding: 6px;
  margin: 3px;
  background: linear-gradient(
    90deg,
    var(--tileAccentColor10) 0%,
    var(--invisibleColor) 50%,
    var(--invisibleColor) 100%
  );
  top: 0;
  left: 150px;
  width: auto;
  min-width: 110px;
  height: calc(100% - 18px);
  color: var(--textColor);
  &:before {
    content: '';
    height: calc(100% - 6px);
    width: 2px;
    position: absolute;
    top: 3px;
    left: -6px;
    background: var(--tileAccentColor10);
    transition: 0.3s;
  }

  &:hover,
  &:active,
  &:focus {
    &:after {
      background: var(--tileAccentColor20);
    }
  }
}
a:hover aside,
a:active aside,
a:focus aside {
  @media only screen and (max-width: 658px) {
    display: block;
    background: linear-gradient(
      var(--backgroundColor) 0%,
      var(--backgroundColor) 100%
    );
    left: 0px;
  }
}

.appName {
  vertical-align: text-bottom;
}

.tileGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  @media only screen and (min-width: 658px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.border {
  width: auto;
  height: auto;
  @media only screen and (min-width: 658px) {
    height: 190px;
  }
  margin: 1% 3% 3% 1%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--tileAccentColor10);
  transition: 0.3s;
  position: relative;
  &:hover,
  &:active,
  &:focus {
    border-color: var(--tileAccentColor20);
    .flourish {
      width: 20px;
      height: 20px;
    }
  }
}

.flourish {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  transition: 0.3s;
  --flourishBorder: solid 2px var(--tileAccentColor100);

  &:nth-child(1) {
    top: -2px;
    left: -2px;
    border-top: var(--flourishBorder);
    border-left: var(--flourishBorder);
  }

  &:nth-child(2) {
    top: -2px;
    right: -2px;
    border-top: var(--flourishBorder);
    border-right: var(--flourishBorder);
  }

  &:nth-child(3) {
    bottom: -2px;
    left: -2px;
    border-bottom: var(--flourishBorder);
    border-left: var(--flourishBorder);
  }

  &:nth-child(4) {
    bottom: -2px;
    right: -2px;
    border-bottom: var(--flourishBorder);
    border-right: var(--flourishBorder);
  }
}

.linkTile {
  @media only screen and (min-width: 658px) {
    width: 140px;
  }
  min-height: 184px;
  height: calc(100% - 6px);
  margin: 3px;
  transition: 0.3s;
  background: linear-gradient(
    0deg,
    var(--tileAccentColor35) 0%,
    var(--invisibleColor) 25%,
    var(--invisibleColor) 75%,
    var(--tileAccentColor35) 100%
  );
  overflow: hidden;

  &:after {
    content: '';
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    @media only screen and (min-width: 658px) {
      width: 140px;
    }
    position: absolute;
    top: 3px;
    background: linear-gradient(
      0deg,
      var(--tileAccentColor20) 0%,
      var(--invisibleColor) 25%,
      var(--invisibleColor) 75%,
      var(--tileAccentColor20) 100%
    );
    transition: 0.3s;
    opacity: 0;
  }

  &:hover,
  &:active,
  &:focus {
    &:after {
      opacity: 1;
    }
  }
}

hr {
  transition: 0.3s;
  border-color: var(--tileAccentColor100);
  width: 90%;
  @media (max-width: 932px) and (min-width: 658px) {
    width: 87.5%;
  }
  @media (max-width: 657px) {
    width: 75%;
  }
}
