<main class="tileGrid">

<a href="https://www.eosfrontier.space/" *ngIf="this.idZeroTile">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/CustomDashboard.png" alt="A hexagon made out of simplified keys with a wifi symbol in the center">
				<figcaption>Enable<br>Custom<br>Dashboad</figcaption>
			</figure>
			<aside>
				To enable your customized dashboard, please log in here.<br>If you already have, the system can't identify you.
			</aside>
	</section>
</div>
</a>

<a href="https://av.eosfrontier.space/" *ngIf="this.skillBooleanIndex.indexOf('it') !== -1">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/AttackVector.png" alt="Air Alchemy Symbol and Earth Alchemy Symbol">
				<figcaption><br>Attack<br>Vector</figcaption>
			</figure>
			<aside>
				A specialized environment running in Verdant OS.<br>Allowing for extracurricular network activities.
			</aside>
	</section>
</div>
</a>

<a href="https://www.eosfrontier.space/bic" *ngIf="!this.idZeroTile">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/bic.png" alt="B i C">
				<figcaption>Bastion<br>Information<br>Center</figcaption>
			</figure>
			<aside>
				A wealth of information about the Bastion, for the colonists, maintained by the colonists.
			</aside>
	</section>
</div>
</a>

<a href="https://docs.google.com/spreadsheets/d/1zmblnRPwSAOMcPscwfgfkjx-CqWLg5GklXqPjmoivb4/preview?usp=embed_googleplus" *ngIf="this.skillBooleanIndex.indexOf('engi') !== -1 || this.skillBooleanIndex.indexOf('chem') !== -1">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/maintenance.png" alt="Orange fist holding a spanner">
				<figcaption>Bastion<br>Maintenance<br>Status</figcaption>
			</figure>
			<aside>
				The status of critical physical systems tasks can be viewed and updated here.
			</aside>
	</section>
</div>
</a>

<a href="https://beacon.eosfrontier.space">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/beacon.png" alt="A circle orbited by a smaller circle with the orbit line visible">
				<figcaption><br><br>Beacon</figcaption>
			</figure>
			<aside>
				The interfactional service for displaying & propagating information to the entire base, colony or ship.
			</aside>
	</section>
</div>
</a>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSdcULjrZ0_HuOuIoTmVNc8TxcT_umeQni8j52UmfZv2o1u7Uw/viewform">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/bestellijst.png" alt="A purple paper with red dotted a list">
				<figcaption>Bastion<br>Eos<br>Transfer</figcaption>
			</figure>
			<aside>
				All regulated goods can be ordered, and will be shipped usually within a day.
			</aside>
	</section>
</div>
</a>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSf9pEf5oXJSmgMasLYgum8-Z_S5lRbMsJIttV8IOFtnAYeJjQ/viewform"  *ngIf="this.conclaveMembers.indexOf(this.characterInformation.ICC_number) !== -1">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/invoice.png" alt="A purple paper with red items and a green checkmark">
				<figcaption>Budget<br>Spending<br>Eos</figcaption>
			</figure>
			<aside>
				As Conclave member you can asign your budget sonuren through this application.
			</aside>
	</section>
</div>
</a>




<a href="https://cic.eosfrontier.space/">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/stratios.png" alt="Bisected Hexagon with vertical bar">
				<figcaption><br>Mission<br>Board</figcaption>
			</figure>
			<aside>
				You can view planned missions here. Users with elevated rights can use this to plan missions.
			</aside>
	</section>
</div>
</a>

<a href="/" *ngIf="this.characterFaction.includes('sona') || this.corpAccess.indexOf(this.characterInformation.ICC_number) !== -1">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/corp.png" alt="C O R P">
				<p id="ExtraWord">Company</p>
				<figcaption>Organizational<br>Resource<br>Planner</figcaption>
			</figure>
			<aside>
				CORP allows you to maintain company assets and allocation of resources.
			</aside>
	</section>
</div>
</a>

<a href="https://www.eosfrontier.space/eos_douane/index.php" *ngIf="this.skillBooleanIndex.indexOf('doaune') !== -1">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/customs.png" alt="Red Circle with dark green horizontal bar and tan checkmark">
				<figcaption><br><br>Douane</figcaption>
			</figure>
			<aside>
				Customs officers can use this connection to ICC Old Space to check persons and goods.
			</aside>
	</section>
</div>
</a>

<a href="https://www.eosfrontier.space/ems" *ngIf="this.characterFaction.includes('dugo')">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/ems.png" alt="Two Futuristic guns infront of yellow/orange shield">
				<figcaption>Armory<br>Inventory<br>Tracker</figcaption>
			</figure>
			<aside>
				The logistics management for the armory, tracking weapons, munitions, protective vests, and other combat related gear.
			</aside>
	</section>
</div>
</a>

<a href="https://www.eosfrontier.space/medicorum" *ngIf="this.skillBooleanIndex.indexOf('surgery') !== -1 || this.skillBooleanIndex.indexOf('firstaid') !== -1">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/medicorum.png" alt="Stylish M ACME ACME-cura Medicorum">
				<figcaption><br><br>Medicorum</figcaption>
			</figure>
			<aside>
				Made possible by ACME-Cura,<br>where healthcare meets the future.
				<br><small>ACME-Cura is part of the ACME-group</small>
			</aside>
	</section>
</div>
</a>

<a href="https://www.eosfrontier.space/ic/surgical-system" *ngIf="this.skillBooleanIndex.indexOf('surgery') !== -1 || this.skillBooleanIndex.indexOf('firstaid') !== -1">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/med-roller.png" alt="Green plus and red heart with heart monitor pulse">
				<figcaption><br>Surgical<br>System</figcaption>
			</figure>
			<aside>
				The tool to use for surgeons to ensure the medical tools are set to their proper requirements for the surgical procedure.
			</aside>
	</section>
</div>
</a>

<a href="https://www.eosfrontier.space/eos_bank/index.php" >
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/bank.png" alt="S C B inside a fortress shape">
				<figcaption>System<br>Central<br>Banks</figcaption>
			</figure>
			<aside>
				All your banking needs are supplied by the SCB.
			</aside>
	</section>
</div>
</a>

<a href="/" *ngIf="this.researchUnlocked">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/research.png" alt="Three stacked books with a bookmark in the middle one">
				<figcaption><br>Research<br>System</figcaption>
			</figure>
			<aside>
				You can access the research system here.
			</aside>
	</section>
</div>
</a>

</main>