main {
	--tileAccentColor10:rgba(51,192,255,0.1);
	--tileAccentColor20:rgba(51,192,255,0.2);
	--tileAccentColor35:rgba(51,192,255,0.35);
	--invisibleColor:rgba(0,0,0,0);
	--textColor:#ebebeb;
}
a {
	text-decoration:none;
	width:100%;
	height:100%;
	transition:0.3s;
}
a:hover, a:active, a:focus, a:visited {
	text-decoration:underline;
	text-decoration-color:var(--textColor);
	text-decoration-style: double;
}
img {
  max-width: 96%;
	padding:2%;
}
figure {
	margin: 0;
	text-align: center;
	color:var(--textColor);
}
figcaption {
	margin-top:5%;
}
details {
	display: none;
}
.border {
	width:108px;
	height:150px;
	border-style: solid;
	border-width: 2px;
	border-color:var(--tileAccentColor10);
	transition: 0.3s;
}
.border:hover, .border:active, .border:focus {
	border-color:var(--tileAccentColor20);
}
.linkTile {
	width:102px;
	height:144px;
	margin:3px;
	transition: 0.3s;
	background: linear-gradient(0deg, var(--tileAccentColor35) 0%, var(--invisibleColor) 25%, var(--invisibleColor) 75%, var(--tileAccentColor35) 100%);
	overflow:hidden;
}
.linkTile:before {
	content:'';
	position:absolute;
	top:12px;
	background: linear-gradient(0deg, var(--invisibleColor) 0%, var(--invisibleColor) 70%, var(--tileAccentColor20) 100%);
	height:0px;
	width:102px;
	transition:0.3s;
}
.linkTile:hover:before, .linkTile:active:before, .linkTile:focus:before {
	height:144px;
}
.linkTile:after {
	content:'';
	position:absolute;
	display:block;
	top:156px;
	background: linear-gradient(0deg, var(--tileAccentColor20) 0%, var(--invisibleColor) 30%, var(--invisibleColor) 100%);
	height:0px;
	width:102px;
	transition:0.3s;
}
.linkTile:hover:after, .linkTile:active:after, .linkTile:focus:after {
	height:144px;
	top:12px;
}