<main class="tileGrid">

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/AttackVector.png" alt="Air Alchemy Symbol and Earth Alchemy Symbol">
				&nbsp;
				<figcaption>Attack<br>Vector</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/bic.png" alt="B i C">
				<figcaption>Bastion Information Center</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/maintenance.png" alt="Orange fist holding a spanner">
				<figcaption>Bastion Maintenance Status</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/beacon.png" alt="A circle orbited by a smaller circle with the orbit line visible">
				&nbsp;
				<figcaption><br>Beacon</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/bestellijst.png" alt="A purple paper with red dotted a list">
				<figcaption>Bastion<br>Eos<br>Transfer</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/stratios.png" alt="Orange fist holding a spanner">
				<figcaption><br>Mission<br>Board</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/customs.png" alt="Orange fist holding a spanner">
				&nbsp;
				<figcaption><br>Douane</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/ems.png" alt="Orange fist holding a spanner">
				<figcaption>Eos<br>Management<br>System</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/medicorum.png" alt="Orange fist holding a spanner">
				&nbsp;
				<figcaption><br>Medicorum</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/med-roller.png" alt="Orange fist holding a spanner">
				<figcaption><br>Surgical<br>System</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

<a href="">
<div class="border">
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>
	<div class="flourish"></div>

	<section class="linkTile">
			<figure class="icon">
				<img src="../../assets/images/bank.png" alt="Orange fist holding a spanner">
				<figcaption>System<br>Central<br>Banks</figcaption>
			</figure>
			<details>
				The Attack Vector, running Verdant OS, allows for extracurricular network activities.
			</details>
	</section>
</div>
</a>

</main>